{% extends 'base.html'%}
{% load static%}
{%block head%}
<link rel="stylesheet" href="{% static 'users/cssfiles/profile.CSS' %}">
{% endblock%}
{%block body%}
<div id="demo">
 <fieldset>
  <legend><h1>{{request.user.username}} profile</h1></legend>

<img src="{{user.profile_picture.url}}">
  <p>first name: {{user.first_name}}</p>
  <p>last name: {{user.last_name}}</p>
  <p>age: {{user.age}}</p>
  <p>phone number: {{user.phone_number}}</p>
<p>education: {{user.education}}</p>
 <p>from: {{user.country}}</p>
<p>lives in : {{user.city}}</p>


<p>email: {{request.user.email}}</p><br>
  </fieldset>
</div>
{%endblock%}